*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#gameboard{
    
    
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border: 2px solid grey;
    background-color: whitesmoke;
}
.board{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    

    background-color: red;
    

    
}

.locked {
    pointer-events: none;
}

.board-square{
    width: 40px;
    aspect-ratio: 1/1;
    border: 1px solid black;
    background-color: white;
}
